

body{
			margin: 0;
			padding: 0;
			text-align: center;
			font-family: Lucida Grande;
			background-image: url(back.jpg);
      background-size: cover;
      background-position: center;


		}

  header {
  	height: 65px;
  	width: 100%;
  	background-color: rgba(34, 49, 52, 0.9);
  	position :fixed;
  	top: 0;
  	z-index: 10;
}
.logo {
  width: 60px;
	height: 52px;
  margin-top: 6px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: 10px;
}

.header-right a {
  line-height: 65px;
  padding: 0px 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
a {
  text-decoration: none;
}

.menu-icon {

  float: right;
	font-size: 25px;
  padding: 19px 25px;
  margin-right: 30px;
  display: none;
	transition: all 0.5s;

}
.menu-icon:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

#output{
	color: #341f97;
}
.top-wrapper{
	padding: 180px 0 100px 0;
	width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #fff;
	transform: translate(-50%, -50%);
	padding: 50px;
	border-radius: 10px;
	box-shadow: 1px 1px 20px #ee5253;
	opacity: 0.8;
	}
	h2{
		font-size: 30px;
		font-weight: 600;
	}
	.text{
		text-align: center;
		margin-left: none;
	}
	#w, #h, #i {
		color: #222f3e;
		text-align: left;
		font-size: 13px;
		font-weight: 200;
		outline: none;
		border: none;
		background: none;
		border: 1px solid #341f97;
		width: 200px;
		padding: 5px 2px;
		margin: 0px 5px;
	}
		#w:focus, #h:focus, #i:focus{
			border-bottom: 2px solid #341f97;
			width: 50%;
			transition: 0.5s;
		}
		#result{
			color: #341f97;
		}
		#btn{
			font-family: inherit;
			margin-top: 10px;
			border: none;
			color: #fff;
			background-image: linear-gradient(120deg,#ff6b6b, #5f27cd);
			width: 150px;
			padding: 10px;
			border-radius: 30px;
			outline: none;
			cursor: pointer;

		}
		#btn:hover{
			box-shadow: 1px 1px 10px #341f97;
		}
		#info{
			font-size: 12px;
			font-family: inherit;
		}
.container h3 {
  display: block;
  flex: auto;
  text-align: center;
  font-size: 20px;
}

.dropdown {
  float: right;
  overflow: hidden;
	color: white;
  display: none;
}


.dropdown-content {
  display: none;
  min-width: 50px;
  margin-top: 68px;


}

.dropdown-content a {
  float: none;
	border-radius: 20px;
  background-color: rgba(34, 49, 52, 0.2 );
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
	margin: 5px 0px;
	transition: 0.5s;
	text-align: center;

}
.dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: block;
}

@media all and (max-width: 670px) {



	  .header-right {
	    display: none;
	  }


	  .menu-icon {
	    display: block;
	  }

		.dropdown {
 	   float: right;
 	   overflow: hidden;
 	 	 color: white;
 	  display: block;
 	 }

.dropdown-content a {
	margin: 5px 0px;
	margin-right: 20px;
	text-decoration: none;
}


}
